# Python Data Structures & Boolean
- Boolean - 'TURE' or 'FALSE'
- Boolean  & Logical Operators
- Comparision Operators
- Lists
- Dictionaries
- Tuples
- Sets
- Note: Lists, dictionaries, and sets are extremely useful and important

## Boolean Variables
- Built in function bool()
- Syntax: bool(self, /, *args, **kwargs)
- Returns True when the argument x is true, False otherwise.
- The builtins True and False are the only two instances of the class bool.
- The class bool is a subclass of the class int, and cannot be subclassed.

In [106]:
False

False

In [107]:
print(True, False)

True False

In [108]:
type(False)

bool

## BUILT IN FUNCTIONS

## istitle() Function
- Return True if the string is a title-cased string, False otherwise

In [109]:
var_str = 'Hello World'

In [110]:
var_str.istitle()

True

## isalnum() Function
- A string is alpha-numeric if all characters in the string are alpha-numeric and there is at least one character in the string.

In [111]:
var_str.isalnum()

False

## isalpha() Function
- A string is alphabetic if all characters in the string are alphabetic and there is at least one character in the string.

In [112]:
var_str.isalpha()

False

## isdigist() Funtion

In [113]:
var_str.isdigit()

False

## isupper() Function
- A string is uppercase if all cased characters in the string are uppercase and there is at least one cased character in the string.

## islower() Funtion
- A string is lowercase if all cased characters in the string are lowercase and there is at least one cased character in the string.

In [114]:
var_str.isupper()

False

In [115]:
var_str.islower()

False

## isspace() Function
- A string is whitespace if all characters in the string are whitespace and there is at least one character in the string.

Python isspace() method is used to check space in the string. It return true if there are only whitespace characters in the string. Otherwise it returns false.

isspace() method returns true for all whitespaces like:
' ' - Space.
'\t' - Horizontal tab.
'\n' - Newline.
'\v' - Vertical tab.
'\f' - Feed.
'\r' - Carriage return

In [116]:
var_str = ' '
var_str.isspace()

True

## endswith() Function
- Syntax: endswith(suffix[, start[, end]])
- Return True if S ends with the specified suffix, False otherwise.With optional start, test S beginning at that position. With optional end, stop comparing S at that position. Suffix can also be a tuple of strings to try.

## startswith() Function
- Syntax: S.startswith(prefix[, start[, end]])
- Return True if S starts with the specified prefix, False otherwise.With optional start, test S beginning at that position. With optional end, stop comparing S at that position. Prefix can also be a tuple of strings to try.

In [117]:
var_str = 'Hello World'

In [118]:
print(var_str.endswith('d'))
print(var_str.startswith('h'))

True
False

## Boolean & Logical Operators
- and, or

## isnumeric() Function
- A string is numeric if all characters in the string are numeric and there is at least one character in the string.

In [119]:
True and False

False

In [120]:
True and True

True

In [121]:
True or False

True

In [122]:
False or True

True

In [123]:
var1_str = 'Hello World!'
var2_str = 'Samuel'

In [124]:
var2_str.isalpha() or var1_str.isnumeric()

True

In [125]:
var2_str.isalpha() and var1_str.isalnum()

False

## LISTS - very important concept
- Lists are used to store multiple items in a single variable. Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.
- List literals are written within square brackets [ ].
- Lists work similarly to strings -- use the len() function and square brackets [ ] to access data, with the first element at index 0.
- List is mutable or changeable 
- List can copiable

In [126]:
type([])

list

In [127]:
list() #in-built empty list

[]

In [128]:
lst = [] #empty list

In [129]:
type(lst)

list

In [130]:
lst = list() # you can assign the  empty list to some variable also

-list of values

In [131]:
lst = ['Yahoo','Google','Microsoft', 44, 77, 99, 33, 22, 1 ]

In [132]:
len(lst) #length of lst

9

In [133]:
len(lst)-3

6

In [134]:
# loop through the list items by using a for loop
thislist = ["apple", "banana", "cherry"]
for x in thislist:
    print(x)

apple
banana
cherry

In [135]:
# loop through the list items by referring to their index number 
# use the range() and len() functions to create a suitable iterable
thislist = ["A", "B", "C","D","E"]
for i in range(len(thislist)):
    print(thislist[i])

A
B
C
D
E

In [136]:
# loop through the list items by using a while loop
# use the len() function to determine the length of the list 
# start at 0 and loop your way through the list items by refering to their indexes
# increase the index by 1 after each iteration

In [137]:
thislist = ["Alvin", "Bob", "Chen", "Dick"]
i = 0
while i < len(thislist):
    print(thislist[i])
    i = i + 1

Alvin
Bob
Chen
Dick

## Append List
- Adds its argument as a single element to the end of a list

## append() Function
- Append the object to the end of the list

## List Concatenation: We can use + operator to concatenate multiple lists and create a new list.

In [138]:
lst = ['Yahoo','Google','Microsoft', 44, 77, 99, 33, 22, 1 ]

In [139]:
lst.append(51920)
lst.append('Amazon')

In [140]:
lst

['Yahoo', 'Google', 'Microsoft', 44, 77, 99, 33, 22, 1, 51920, 'Amazon']

## Indexing in List

In [141]:
len(lst)

11

The len() function returns the number of items in a list. Since list indexes start at 0, the value of len() represents a value one larger than the last index. This means the valid indexes of a list are any number between 0 and len() - 1.

In [142]:
lst[9]

51920

In [143]:
lst[3:9] #len() - 1

[44, 77, 99, 33, 22, 1]

## insert() Function
- inserts the object before the given index
- allows you to add an element into a list at a given index position

In [144]:
lst.insert(3, 33)
lst.append(['UPS','GM'])
lst

['Yahoo',
 'Google',
 'Microsoft',
 33,
 44,
 77,
 99,
 33,
 22,
 1,
 51920,
 'Amazon',
 ['UPS', 'GM']]

## extend() Function
-  extends the list by appending elements from the iterable

In [145]:
lst.extend([6,6,8])

In [146]:
print(lst)

['Yahoo', 'Google', 'Microsoft', 33, 44, 77, 99, 33, 22, 1, 51920, 'Amazon', ['UPS', 'GM'], 6, 6, 8]

## sum(), pop(), count(), min(), max() Functions

- sum(): Sums up the numbers in the list; importantly it should be numbers
- pop(): Remove and return item at index (default last)
- count(): Number of occurrences of value
- min(): Its smallest item in the list
- max(): Its largest item in the list

In [147]:
lst = [3,4,7,1,0,2,3,3,7,1]

In [148]:
sum(lst)

31

In [149]:
lst.pop(4) #here index is 4 and the value of index is 2

0

In [150]:
lst.count(3) #counting occurences of number 3 which is 3 times

3

In [151]:
min(lst)

1

In [152]:
max(lst)

7

## SETS

- A Set is an unordered collection data type that is iterable, mutable and has no duplicate elements
- Sets are used to store multiple items in a single variable
- A Set is a collection which is both unordered and unindexed or cannot do indexing in Set
- This is based on a data structure known as a hash table

In [153]:
# an empty set
var_set = set() # new empty set object
print(var_set)
print(type(var_set))

set()
<class 'set'>

In [154]:
var_set = {1,2,3,4,4,5,7,8,5,0,5}

In [155]:
print(var_set)
print(type(var_set))

{0, 1, 2, 3, 4, 5, 7, 8}
<class 'set'>

In [156]:
var_set = {'apple', 'bannana', 'orange', 'strawberry'}

In [157]:
#indexing - set will not support indexing - because unordered set

var_set[0]

#ERROR: TypeError: 'set' object is not subscriptable

TypeError: 'set' object is not subscriptable

In [ ]:
#indexing - set will not support indexing - because unordered set

var_set['strawberry']

#ERROR: TypeError: 'set' object is not subscriptable

## In Set .add() Function
- Add an element to a set

In [ ]:
var_set.add('Peach')

In [158]:
var_set

{'apple', 'bannana', 'orange', 'strawberry'}

## In Set .difference() Function
## In Set .difference_update() Function

- all elements that are in this set but not the others
- Remove all elements of another set from this set

In [159]:
var1_set = {'apple', 'bannana', 'orange', 'strawberry'}
var2_set = {'apple', 'bannana', 'orange', 'strawberry','Peach', 'Cherry'}

In [160]:
var1_set.difference(var2_set) # Output: empty set

set()

In [161]:
var2_set.difference(var1_set) #  the difference between two given sets [var2_set - var1_set]

{'Cherry', 'Peach'}

In [162]:
A = {'apple', 'bannana', 'orange', 'strawberry'}
B= {'apple', 'bannana', 'orange', 'strawberry','Peach', 'Cherry'}
A.difference(B) #A-B
B.difference(A) #B-A

{'Cherry', 'Peach'}

In [163]:
var1_set.difference_update(var2_set)
var1_set

set()

In [164]:
var2_set.difference_update(var1_set)
var2_set

{'Cherry', 'Peach', 'apple', 'bannana', 'orange', 'strawberry'}

## In Set .intersection() Function
## In Set .intersection_update() Function

- all elements that are in both sets
- Update a set with the intersection of itself and another

In [165]:
var1_set = {'apple', 'bannana', 'orange', 'strawberry'}
var2_set = {'apple', 'bannana', 'orange', 'strawberry','Peach', 'Cherry'}

In [166]:
var2_set.intersection(var1_set) # all the elements which are common to both var1_set and var2_set

{'apple', 'bannana', 'orange', 'strawberry'}

In [167]:
var1_set.intersection(var2_set)

{'apple', 'bannana', 'orange', 'strawberry'}

In [168]:
var1_set.intersection_update(var2_set)
var1_set

{'apple', 'bannana', 'orange', 'strawberry'}

In [169]:
var2_set.intersection_update(var1_set) # removes the items that is not present in both sets 
var2_set

{'apple', 'bannana', 'orange', 'strawberry'}

## DICTIONARIES

- Dictionaries are used to store data values in key:value pairs
- A dictionary is a collection which is unordered, changeable, indexed and does not allow duplicates
- Python dictionaries are written with curly brackets {}

In [170]:
dic ={}

In [171]:
type(dic)

dict

In [172]:
dict(dic)

{}

In [173]:
dic ={'apple', 'bannana', 'orange', 'strawberry','Peach', 'Cherry'}

In [174]:
type(dic)

set

In [189]:
# Create a Dictnatory
# remember assign for dictionaries -> KEY:VALUE
dic = {'fruit1': 'apple', 'fruit2': 'bannana', 'fruit3':'orange', 'fruit4':'strawberry', 'fruit5':'Peach', 'fruit6':'Cherry'}

In [176]:
type(dic)

dict

In [177]:
dic['fruit4']

'strawberry'

In [178]:
for x in dic:
    print(x)

fruit1
fruit2
fruit3
fruit4
fruit5
fruit6

In [179]:
for i in dic.values(): 
    print(i)

apple
bannana
orange
strawberry
Peach
Cherry

In [180]:
for i in dic.items():
    print(i)

('fruit1', 'apple')
('fruit2', 'bannana')
('fruit3', 'orange')
('fruit4', 'strawberry')
('fruit5', 'Peach')
('fruit6', 'Cherry')

In [194]:
x = {'fruit7':'Lemon'}
dic.update(x)
print(dic)

{'fruit1': 'apple', 'fruit2': 'bannana', 'fruit3': 'orange', 'fruit4': 'strawberry', 'fruit5': 'Peach', 'fruit6': 'Cherry', 'fruit7': 'Lemon'}

In [195]:
dic['fruit5'] = 'Papaya' #update value

In [196]:
dic

{'fruit1': 'apple',
 'fruit2': 'bannana',
 'fruit3': 'orange',
 'fruit4': 'strawberry',
 'fruit5': 'Papaya',
 'fruit6': 'Cherry',
 'fruit7': 'Lemon'}

## Nested Dictonary
- a nested dictionary is a dictionary inside a dictionary. It's a collection of dictionaries into one single dictionary

In [199]:
customer_detail = {1: {'customer name': 'John', 'age': '27', 'sex': 'Male', 'email':'john@gamil.com'},
                   2: {'customer name': 'Marie', 'age': '22', 'sex': 'Female', 'email':'marie@gamil.com'}}
customer_detail
print()

{1: {'customer name': 'John', 'age': '27', 'sex': 'Male', 'email': 'john@gamil.com'}, 2: {'customer name': 'Marie', 'age': '22', 'sex': 'Female', 'email': 'marie@gamil.com'}}

In [214]:
#accessing the item in the dictonary
print(customer_detail.get(1))

{'customer name': 'John', 'age': '27', 'sex': 'Male', 'email': 'john@gamil.com'}

In [218]:
print(customer_detail[2]['customer name'])

Marie

In [219]:
print(customer_detail[1]['email'])

john@gamil.com

In [220]:
# Add a new customer in the existing dictonary
customer_detail[3] = {}

customer_detail [3]['customer name'] = 'Luna'
customer_detail [3]['age'] = '24'
customer_detail [3]['sex'] = 'Female'
customer_detail [3]['email'] = '-'

print(customer_detail[3])

{'customer name': 'Luna', 'age': '24', 'sex': 'Female', 'email': '-'}

In [222]:
print(customer_detail)

{1: {'customer name': 'John', 'age': '27', 'sex': 'Male', 'email': 'john@gamil.com'}, 2: {'customer name': 'Marie', 'age': '22', 'sex': 'Female', 'email': 'marie@gamil.com'}, 3: {'customer name': 'Luna', 'age': '24', 'sex': 'Female', 'email': '-'}}

In [224]:
#Iterating Through a Nested Dictionary


for c_id, c_info in customer_detail.items():
    print("\nCustomer ID:", c_id)
    
    for key in c_info:
        print(key + ':', c_info[key])

Customer ID: 1
customer name: John
age: 27
sex: Male
email: john@gamil.com

Customer ID: 2
customer name: Marie
age: 22
sex: Female
email: marie@gamil.com

Customer ID: 3
customer name: Luna
age: 24
sex: Female
email: -

## Tuple
- Python tuples are a data structure that store an ordered sequence of values. Tuples are immutable. This means you cannot change the values in a tuple. Tuples are defined with parenthesis.
- Allow Duplicates

In [236]:
tup = tuple() # an empty tuple

In [252]:
tup = ("apple", "apple", "banana", "cherry")

In [253]:
type(tup)

tuple

In [254]:
tup[2]

'banana'

In [255]:
tup.count('apple') # the number of times the specified element appears in the tuple

2

In [246]:
tup[0] = 'orange' #'tuple' object does not support item assignment or cannot change (ERROR)

TypeError: 'tuple' object does not support item assignment

In [247]:
tup = ('bob', 'sam', 'dunk') # you can change compeletly

In [248]:
tup

('bob', 'sam', 'dunk')

In [250]:
tup= ("apple",) # comma -> Tuple
print(type(tup))

#NOT a tuple
tup = ("apple") # No comma -> String 
print(type(tup))

<class 'tuple'>
<class 'str'>

# IMPORTANT POINTS:

## There are four collection data types in the Python:

- List is a collection which is ordered and changeable. Allows duplicate elements.
- Tuple is a collection which is ordered and unchangeable. Allows duplicate elements.
- Set is a collection which is unordered and unindexed. No duplicateelements.
- Dictionary is a collection which is ordered* and changeable. No duplicate elements.